:root {
  /* Fonts */
  --main-font: "Montserrat", sans-serif;

  /* Colors */
  --main-cl: #111111;
  --main-cl-60: rgba(17, 17, 17, 0.6);
  --main-cl-70: rgba(17, 17, 17, 0.7);
  --accent-cl: #fd9222;
  --violet-cl: #1e1823;
  --beige-cl: #fcf1e0;
  --white-cl: #fafafa;
  --gray-cl: #4c4c4c;
  --white-cl-2: #ffffff;
  --white-cl-60: rgba(255, 255, 255, 0.7);
}

body {
  font-family: var(--main-font);
  background-color: var(--white-cl);
  color: var(--main-cl);
}

button {
  font-family: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ---COMPONENT STYLES--- */

.container {
  width: 100%;
  max-width: 1166px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.title-accent {
  color: var(--accent-cl);
}

.btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: var(--white-cl);
  background-color: var(--accent-cl);
  transition: color 300ms linear, background-color 300ms linear;
}

.btn:hover,
.btn:focus {
  color: #fd9222;
  background-color: var(--beige-cl);
}

.btn-primary {
  background-color: transparent;
  border-radius: 100px;
  border: 1px solid #fff;
  padding: 14px 40px;
}

.btn-primary:hover,
.btn-primary:focus {
  color: var(--accent-cl);
  background-color: transparent;
}

.btn-secondary {
  font-size: 18px;
  color: var(--main-cl);
  background-color: transparent;
}

.btn-secondary:hover,
.btn-secondary:focus {
  color: var(--white-cl);
  background-color: var(--accent-cl);
}

/* Navigation */
.navigation {}

.navigation-menu {
  display: flex;
  gap: 24px;
}

.navigation-item {}

.navigation-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-cl);
}

.navigation-link.light {
  color: var(--white-cl);
}

.navigation-link.dark {
  color: var(--main-cl);
}

/* Socials */
.socials {}

.socials-caption {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;

  color: var(--white-cl-2);
}

.socials-list {
  display: flex;
  margin-left: auto;
  gap: 14px;
}

.socials-item {}

.socials-link {
  color: var(--main-cl);
}

/* ---HEADER--- */

.header {
  padding-top: 24px;
  padding-bottom: 32px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  gap: 100px;
}

.header-logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
  display: flex;
  align-items: center;
}

.header-logo-italic {
  font-style: italic;
}

.header-socials {}

.social-icon {
  fill: transparent;
  stroke: #111111;
}

.socials-link:hover .social-icon,
.socials-link:focus .social-icon {
  stroke: var(--accent-cl);
}

.logo-icon {
  margin-left: 4px;
}

/* ---HERO--- */
.hero {
  padding-bottom: 80px;
}

.hero-wrap {
  background-color: var(--main-cl-60);
  background-image: linear-gradient(rgba(17, 17, 17, 0.40), rgba(17, 17, 17, 0.40)), url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  padding: 381px 40px 40px 40px;
}

.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: var(--white-cl-2);
  max-width: 484px;
  margin-bottom: 32px;
}

.hero-buttons {
  display: flex;
}

.hero-btn {
  background: var(--accent-cl);
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: var(--white-cl-2);
  padding: 14px 40px;
  border-radius: 100px;
  border: none;
  margin-right: 14px;
  transition-property: color, background-color;
  transition-duration: 300ms, 250ms;
  transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1), ease;
  transition: color 300ms cubic-bezier(0.39, 0.575, 0.565, 1), background-color 250ms ease;
}

.hero-link-btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: var(--white-cl-2);
  padding: 14px 40px;
  border: 1px solid var(--white-cl-2);
  border-radius: 100px;

}

.hero-down-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: var(--white-cl-2);
  display: flex;
  align-items: center;
  gap: 14px;
  margin-left: auto;
}

.hero-down-icon {
  display: flex;
  width: 38px;
  height: 38px;
  background-color: var(--white-cl-2);
  border-radius: 50%;
}

/* ---ADVANTAGES--- */

.advantages {
  background: var(--violet-cl);
  padding-top: 20px;
  padding-bottom: 20px;
}

.advantages-list {
  /* padding: 0 18px; */
  padding-right: 28px;
  display: flex;
  flex-wrap: wrap;
  gap: 38px;
}

.advantages-item {
  /* width: calc((100% - 2 * 88px / 3)); */
  position: relative;
}


.advantages-item-top {
  display: none;
}

.advantages-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: var(--white-cl-2);
  margin-bottom: 18px;
}

.advantages-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--white-cl-2);
}

/* ---INGREDIENTS--- */

.ingredients {
  padding-top: 80px;
}

.ingredients-title {
  max-width: 412px;
  margin: 0 auto;
  margin-bottom: 32px;
}

.ingredients-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
}

.ingredients-text {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--main-cl);
  max-width: 486px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.ingredients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.ingredients-list-item {
  background: var(--white-cl-2);
  border: 1px solid #FD9222;
  border-radius: 15px;
  /* width: calc((100% - 3 * 32px) / 4); */
  padding: 28px 23px;
  width: 100%;
}

.ingredients-list-item:nth-child(4n + 1) {
  background-color: var(--accent-cl);
  color: var(--white-cl-2);
}

.ingredients-list-item:nth-child(4n + 3) {
  background-color: #1E1823;
  color: var(--white-cl-2);
}

.ingredients-list-item:not(:nth-child(-n + 4)) {
  display: none;
}

.ingredients-list-img {
  margin: 0 auto;
  margin-bottom: 36px;
}

.ingredients-captions {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  /* color: #ffffff; */
}

/* ---MADE--- */

.made {
  padding-top: 80px;
}

.made-title {
  margin-bottom: 50px;
}

.made-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.made-left-side {}

.made-img {}

.made-right-side {
  background-color: var(--white-cl-2);
  padding: 20px 14px;
}

.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 20px;
  display: inline-block;
}

.made-list {}

.made-item {
  max-width: 452px;
  padding-left: 16px;
  position: relative;
}

.made-item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 5px;
  width: 8px;
  height: 8px;
  background-color: #4C4C4C;
  border-radius: 50%;
  border: 1px solid #ECEDED;
}

.made-item:not(:last-child) {
  margin-bottom: 18px;
}

.made-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/* ---PRODUCTS STYLE--- */

.products {
  padding-top: 80px;
}

.container {}

.product-title {
  margin-bottom: 50px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.products-item {
  /* width: calc((100% - 54px) / 4); */
  width: 100%;
  background-color: var(--white-cl);
  padding: 32px 20px;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background-color: var(--white-cl-2);
  text-align: center;
}

.products-pic {}

.products-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.products-desc {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;

  color: var(--main-cl-70);
  margin-bottom: 18px;
}

.products-cost {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;

  background-color: var(--white-cl);
  display: inline-block;
  padding: 8px 20px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
}

/* ---BESTSELLERS STYLE--- */

.bestsellers {
  padding-top: 80px;
}


.bestsellers-title {
  margin-bottom: 50px;
}

.bestsellers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.bestsellers-item {
  /* width: calc((100% - 32px) / 3); */
  width: 100%;
  background-color: var(--white-cl);
  border-radius: 15px;
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
  padding-bottom: 28px;
  position: relative;

}

.bestsellers-item:not(:first-child) {
  display: none;
}

.bestsellers-item:hover .bestsellers-cover {
  transform: translateY(0);
}

.bestsellers-picture {}

.bestsellers-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 28px;
}

.bestsellers-cover {
  position: absolute;
  top: 0;
  background: linear-gradient(164.64deg, rgba(253, 253, 255, 0.1) 3.97%, rgba(8, 2, 21, 0) 109.76%);
  backdrop-filter: blur(7.5px);
  border-radius: 15px 15px 0px 0px;
  height: 100%;
  padding: 0 40px;
  display: flex;
  align-items: center;
  transform: translateY(100%);
  transition: transform 300ms linear;
}

.bestsellers-cover-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--white-cl)
}

.bestsellers-cover-wrap {
  position: relative;
  overflow: hidden;
}

/* ---REVIEWS STYLES--- */

.reviews {
  padding-top: 120px;
  padding-bottom: 120px;
}

.reviews-title {
  margin-bottom: 90px;
}

.reviews-list {
  margin-bottom: 50px;
  display: flex;
  gap: 28px;
}

.reviews-item {
  width: calc((100% - 56px) / 3);
  background: var(--white-cl-2);
  border: 1px solid rgba(17, 17, 17, 0.1);
  box-shadow: 0px 9.04932px 100px rgba(17, 17, 17, 0.03);
  border-radius: 15px;
}

.reviews-avatar {}

.reviews-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  margin-bottom: 24px;
}

.reviews-text {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;

  color: var(--main-cl-70);
}

.reviews-btn {
  display: block;
  margin: 0 auto;
}

/* ---FOOTER STYLES--- */

.footer {
  background-color: var(--violet-cl);
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-top {
  display: flex;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.10);
  margin-bottom: 24px;
}

.footer-heading {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: var(--white-cl-2);
  max-width: 300px;
  margin-right: auto;
}

.footer-socials {
  margin-right: 50px;
}

.footer-contancts {}

.socials-caption {
  margin-bottom: 14px;
}

.social-icon.light {
  stroke: var(--white-cl-2);
}

.contacts {}

.contacts-caption {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  margin-bottom: 14px;

  color: var(--white-cl-2);
}

.contacts-data {
  font-style: normal;
}

.contacts-list {}

.contacts-item:not(:last-child) {
  margin-bottom: 4px;

}

.contacts-link {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--white-cl-2);
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-navigation {}

.footer-form {
  display: flex;
}

.footer-input-label {
  margin-right: 8px;
}

.footer-input {
  width: 313px;
  height: 52px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.3);
  outline: transparent;
  transition: border-color 300ms linear;
}

.footer-input:focus {
  border-color: var(--white-cl-2);
}

.footer-input:focus::placeholder {
  color: var(--white-cl-2);
}

.footer-input::placeholder {
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.3);
  transition: color 300ms linear;
}

.footer-btn {
  min-width: 137px;
  height: 52px;
  border: none;
  border-radius: 100px;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(76, 76, 76, 0.596);
  top: 0;
  transition: opacity 300ms linear, visibility 300ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 517px;
  min-height: 794px;
  background-color: var(--white-cl);
  border-radius: 15px;
  transition: transform 300ms linear;
  padding: 40px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  text-align: left;
  margin-bottom: 42px;
}

.modal-title span {
  display: block;
}

.modal-field {
  margin-bottom: 18px;
}

.modal-input {
  width: 100%;
  height: 68px;
  background-color: transparent;
  padding-left: 62px;
  padding-right: 24px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 13px;
  color: #4c4c4c;
  outline: transparent;
  transition: border-color 200ms ease;
}

.modal-input:hover,
.modal-input:focus {
  border-color: var(--accent-cl);
}

.modal-input:focus+.modal-icon {
  stroke: var(--accent-cl);
}

.modal-input::placeholder {
  font-size: 14px;
  color: teal;
}

.modal-input:optional {
  border-width: 2px;
}

.modal-form-btn:disabled {
  background-color: #4c4c4c;
}

.modal-label {
  font-size: 14px;
  margin-bottom: 8px;
  display: inline-block;
}

.modal-input-wrap {
  position: relative;
}

.modal-icon {
  stroke: #404040;
  fill: transparent;
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
  transition: stroke 200ms ease;
}

.modal-comment {
  width: 100%;
  height: 137px;
  background-color: transparent;
  padding: 22px 24px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 13px;
  color: #4c4c4c;
  outline: transparent;
  transition: border-color 200ms ease;
  resize: none;
}

.modal-check-text {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
  display: flex;
  align-items: center;
}

.modal-check-link {
  color: var(--accent-cl);
  text-decoration: underline;
}

.modal-check-text span {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  border-radius: 6px;
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition-duration: 300ms;
}

.modal-check:checked+.modal-check-text span {
  background-color: var(--accent-cl);
  border: none;
  fill: var(--white-cl-2);
}

.modal-check:focus+.modal-check-text span {
  border-color: var(--accent-cl);
}